<footer class="footer">
    <nav class="bg-secondary-subtle ">
        <div class="container">
            <div class="py-5 d-flex align-items-center border-top border-dark-subtle">
                <ul class="nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">服務方案</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">關於職旅</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">聯絡我們</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">隱私權政策</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">用戶條款</a>
                    </li>
                </ul>
                <span class="text-secondary">Copyright © 2025 職旅 workway. All rights reserved.</span>
            </div>
        </div>
    </nav>
</footer>