<header class="header">
    <nav class="navbar py-0">
        <div class="container-fluid container-lg">
            <a class="navbar-brand py-0" href="index.html">
                <img src="/assets/images/logo.svg" alt="logo">
            </a>
            <ul class="navbar-nav py-3 flex-row">
                <li class="nav-item me-4"><a class="nav-link" href="#">服務方案</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="#">關於職旅</a></li>
                <li class="nav-item"><a class="nav-link" href="#">聯絡我們</a></li>
            </ul>
            <a class="d-flex align-items-center" href="user.html">
                <img class="me-2 user-image-icon rounded-circle border" src="/assets/images/avatar.png" alt="avatar">
                Mokumaru
            </a>
        </div>
    </nav>
</header>