<header class="header">
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/logo.svg" alt="logo">
            </a>
            <ul class="navbar-nav flex-row">
                <li class="nav-item me-4"><a class="nav-link" href="#">服務方案</a></li>
                <li class="nav-item me-4"><a class="nav-link" href="#">關於職旅</a></li>
                <li class="nav-item"><a class="nav-link" href="#">聯絡我們</a></li>
            </ul>
            <button type="button" class="border-0 bg-transparent d-flex align-items-center">
                <img class="rounded-circle me-2" style="width: 44px;height: 44px;" src="/assets/images/avatar.png" alt="avatar">
                Mokumaru
            </button>
        </div>
    </nav>
</header>