<div class="history">
    <h1 class="mb-4 fs-4">預約紀錄</h1>
    <ul class="d-flex justify-content-center mb-5 list-unstyled">
        <li class="d-none w-100 d-md-block card list border-secondary-subtle me-4">
            <div class="card-body py-4 text-center">
            <h5 class="card-title mb-2 text-primary fs-2 fw-bold">3</h5>
            <p class="card-text text-secondary fs-4">已完成諮詢</p>
            </div>
        </li>
        <li class="card w-100 border-secondary-subtle me-4">
            <div class="card-body py-4 text-center">
            <h5 class="card-title mb-2 text-primary fs-2 fw-bold">2025/10/10</h5>
            <p class="card-text text-secondary fs-4">即將到來</p>
            </div>
        </li>
        <li class="d-none w-100 d-md-block card border-secondary-subtle">
            <div class="card-body py-4 text-center">
            <h5 class="card-title mb-2 text-primary fs-2 fw-bold">3/6</h5>
            <p class="card-text text-secondary fs-4">使用方案進度</p>
            </div>
        </li>
    </ul>
    <div class="d-flex mb-4">                              
        <button type="button" class="btn me-2 btn-dark">全部預約</button>
        <button type="button" class="btn me-2 btn-light border">已完成</button>
        <button type="button" class="btn me-auto btn-light border">已取消</button>
        <div class="dropdown">
            <button class="btn btn-light border" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                排序<span class="material-icons ms-1 align-top fs-5">filter_list</span>
            </button>
            <ul class="dropdown-menu mt-2 py-2">
                <li><a class="dropdown-item py-2" href="#">新到舊</a></li>
                <li><a class="dropdown-item py-2" href="#">舊到新</a></li>
            </ul>
        </div>
    </div>
    <table class="table table-light table-striped table-hover align-middle">
        <thead>
            <th scope="col">諮詢方案</th>
            <th scope="col">預約日期</th>
            <th scope="col">諮詢時長</th>
            <th scope="col">諮詢方式</th>
            <th scope="col">上課狀態</th>
        </thead>
        <tbody>
            <tr>
            <td class="py-3">職涯定位-職涯探索包 | 6/6堂</td>
            <td>2025/11/11</td>
            <td>60分鐘</td>
            <td><span class="px-2 bg-light border rounded-pill">視訊</span></td>
            <td>等待上課</td>
            </tr>
            <tr>                                  
            <td class="py-3">職涯定位-職涯探索包 | 5/6堂</td>
            <td>2025/10/10</td>
            <td>60分鐘</td>
            <td><span class="px-2 bg-light border rounded-pill">視訊</span></td>
            <td>等待上課</td>
            </tr>
            <tr>
            <td class="py-3 text-secondary">職涯定位-職涯探索包 | 4/6堂</td>
            <td class="text-secondary">2025/09/09</td>
            <td class="text-secondary">60分鐘</td>
            <td class="text-secondary"><span class="px-2 bg-light border rounded-pill">視訊</span></td>
            <td class="text-secondary">已完成</td>
            </tr>
            <tr>
            <td class="py-3 text-secondary">職涯定位-職涯探索包 | 3/6堂</td>
            <td class="text-secondary">2025/08/08</td>
            <td class="text-secondary">60分鐘</td>
            <td class="text-secondary"><span class="px-2 bg-light border rounded-pill">面對面</span></td>
            <td class="text-secondary">已完成</td>
            </tr>
            <tr>
            <td class="py-3 text-secondary">職涯定位-職涯探索包 | 2/6堂</td>
            <td class="text-secondary">2025/07/07</td>
            <td class="text-secondary">60分鐘</td>
            <td class="text-secondary"><span class="px-2 bg-light border rounded-pill">面對面</span></td>
            <td class="text-secondary">已完成</td>
            </tr>
            <tr>
            <td class="py-3 text-secondary">職涯定位-職涯探索包 | 1/6堂</td>
            <td class="text-secondary">2025/06/06</td>
            <td class="text-secondary">90分鐘</td>
            <td class="text-secondary"><span class="px-2 bg-light border rounded-pill">面對面</span></td>
            <td class="text-secondary">已完成</td>
            </tr>
        </tbody>
    </table>
</div>